body{
  background-color: #00FF00;
  background-image: url("https://images-1.rakuten.tv/storage/snapshot/shot/537644c6-0f2b-4fd9-9f9e-2d3a98884b0f-snapshot-1590663110-width936-quality90.jpeg");
  background-size:cover;
  padding: 15px;
  font-size: medium;
  }
h1{
  margin: 5px 20px;
  font-size: 60px;
  color: #365d7a;
  }
img{
  width: 300px;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 2px 2px 1px 1px #b2b2b2;
}

#menu1{
 position: relative;
 display: block;
 width: 100%;
 height: auto;
 z-index: 10;
}

#menu1 ul{
 position: relative;
 display: block;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: auto;
 list-style: none;
}

#menu1 > ul::after{
 display: block;
 width: 100%;
 height: 0px;
 clear: both;
 content: " ";
}

#menu1 ul li{
 position: relative;
 display: block;
 float: left;
 width: auto;
 height: auto;
}

#menu1 ul li a{
 display: block;
 padding: 9px 25px 0px 25px;
 font-size: 14px;
 line-height: 1.3em;
 text-decoration: none;
 font-weight: bold;
 text-transform: uppercase;
 height: 36px;
 box-sizing: border-box;
 color: purpul;
}

#menu1 ul li ul{
 position: absolute;
 top: 36px;
 left: 0px;
 display: none;
 width: 200px;
 background: #38b6ff;
}

#menu1 ul li:hover ul{
 display: block;
}

#menu1 ul li ul li{
 float: none;
 width: 100%;
}
#menu1 ul li ul li a{
 display: block;
 text-transform: none;
 height: auto;
 padding: 7px 25px;
 width: 100%;
 box-sizing: border-box;
 border-top: 1px solid #ffffff;
 color: white;
}
#menu1 ul li ul li:first-child a{
 border-top: 0px;
}